{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}
{% block header %}
  Cyberbullying
{% endblock %}
{% block content %}
  <section class="container">
    <div class="row align-items-center my-5">
      <div class="col-md-6">
        <h2>What is Cyberbullying?</h2>
        <p>Cyberbullying is bullying that takes place over digital devices like cell phones, computers, and tablets.
          Cyberbullying can occur through SMS, Text, and apps, or online in social media, forums, or gaming where people
          can view, participate in, or share content. Cyberbullying includes sending, posting, or sharing negative,
          harmful, false, or mean content about someone else. It can include sharing personal or private information
          about someone else causing embarrassment or humiliation. Some cyberbullying crosses the line into unlawful or
          criminal behavior.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img class="img-fluid w-100" src="/static/data-bully.png">
      </div>
    </div>
    <h2>Places where cyberbullying occurs </h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <i class="bi bi-facebook display-3"></i>
            <h5 class="card-title mt-3">Facebook</h5>
            <p class="card-text">Facebook has tips and tools for individuals being bullied, harassed or attacked online.
            </p>
            <a href="https://www.facebook.com/" class="btn btn-outline-dark">Click for more details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <i class="bi bi-instagram display-3"></i>
            <h5 class="card-title mt-3">Instagram</h5>
            <p class="card-text">Instagram is the most popular social media site for young people. Unfortunately,
              preteens
              and teenagers are also the main group who suffers from cyberbullying.</p>
            <a href="https://www.instagram.com/" class="btn btn-outline-dark">Click for more details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <i class="bi bi-twitter display-3"></i>
            <h5 class="card-title mt-3">Twitter</h5>
            <p class="card-text">Twitter rules specifically prohibit the kind of abuse like threats, hate speech,
              impersonation, and harassment on the basis of users’ race, ethnicity, gender, religion, sexual
              orientation,
              age, ability, disease, or nationality.</p>
            <a href="https://twitter.com/" class="btn btn-outline-dark">Click for more details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <i class="bi bi-snapchat display-3"></i>
            <h5 class="card-title mt-3">Snapchat</h5>
            <p class="card-text">For chatting with friends and sharing funny pictures in the moment, teens turn to
              Snapchat. Snapchat doesn't send a notification if you've blocked them. They'll only know you've blocked
              them
              when they search for you in their friends list</p>
            <a href="https://www.snapchat.com" class="btn btn-outline-dark">Click for more details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </div>
  {% endblock %}